button {
    width: 60%;
    background-color: brown;
    padding: 20px 20px 20px 20px;
    font-size: 50px;
    color: antiquewhite;
    border-radius: 15px;
    text-transform: uppercase;
}

.center {
    display:flex;
    justify-content: center;
}

.timer {
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
}

.egg {
    margin: 0 auto;
}

body {
    background-color: #262626;
}

.margin-top {
    margin-top: 100px;
}